<!DOCTYPE html>

<html>
<head>

</head>
<body>
  <h1>Freedom Lanes</h1>
  <img src='http://example.org/__sinatra__/404.png'>
  <div id="c">
    Try this:
    <pre># in app.rb
class App
  get &#x27;&#x2F;&#x27; do
    &quot;Hello World&quot;
  end
end
</pre>
  </div>
</body>
</html>
